clarifai_grpc
emoji
langchain==0.0.287
matplotlib
moviepy==2.1.2
openai_whisper
pandas==2.2.3
plotly==5.18.0
pyecharts==2.0.4
pytube==10.10.0  # Adjusted version for compatibility
st-annotated-text==1.0.0  # Updated to an available version
streamlit==1.42.0
vaderSentiment==3.3.2
yt_dlp==2024.3.10
ffmpeg-python==0.2.0
spacy==3.5.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
nltk==3.8.1
transformers==4.38.2
numpy>=1.23.2,<2.0.0
openai==1.12.0
langchain-openai==0.0.5
langchain-core>=0.1.16,<0.2.0
torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
whisper==1.1.10
python-dotenv==1.0.1
requests==2.32.3
pillow==10.4.0
